.episode {

    cursor: pointer;
    padding: 16px 8px;

    &:hover {
        background: #eee;
    }

    &.added {
        .mat-icon {
            color: red;
        }
    }

    mat-icon {
        width: 14px;
        height: 14px;
    }
}