.show-list-item {
    
    cursor: pointer;
    margin-bottom: 48px;
    padding: 0 4px;

    img {
        width: 100%;
        // max-width: 100%;
        height: auto;
    }
    
    h2 {
        margin: 0;
    }

    .rating {
        margin: 4px 0;
    }
}